:root{
    --black-color: #000;
    --light-blue-color: #049CB3;
    --titles-font: 'Vollkorn', serif;
    --texts-font: 'Plus Jakarta Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Html */
html{
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Body */
body{
    background-color: var(--black-color);
}

/* Container Flex */
.containerFlex{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

/* Container Header */
.containerHeader{
    transition: background-color .75s ease;
    animation: scrollHeader linear both;
    animation-timeline: scroll(root);
    animation-range: 0 10vh;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-blue-color);
}

/* Header */
.header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    max-width: 1400px;
    margin: 0 auto;
}

.headerTitleLink, .headerLink, .headerItem::before{
    animation: scrollColor linear both;
    animation-timeline: scroll(root);
    animation-range: 0 5vh;
}

.headerTitle{
    font-family: var(--titles-font);
}

.headerTitleLink{
    text-decoration: none;
    color: var(--light-blue-color);
    transition: all .3s ease;
    user-select: none;
}

.headerTitleLink:hover{
    color: orange;
}

.headerList{
    display: flex;
    list-style-type: none;
    gap: 3rem;
}

.headerLink{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light-blue-color);
    font-family: var(--texts-font);
    user-select: none;
}

.headerItem{
    position: relative;
    word-spacing: .2rem;
}

.headerItem::before{
    content: '';
    border-bottom: 2px solid var(--light-blue-color);
    width: 50%;
    bottom: -.25rem;
    left: 25%;
    position: absolute;
    transition: all .75s ease;
}

.headerItem:hover::before{
    width: 100%;
    left: 0;
}

.headerLanguages{
    display: flex;
    gap: 1rem;
}

.headerButtons{
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-position: center;
    border-width: 0;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.headerButtons:hover{
    opacity: .5;
}

.headerButtonEs{
    background-image: url(../img/flagArg.svg);
}

.headerButtonEn{
    background-image: url(../img/flagGb.svg);
}

/* Main */
.main{
    height: 90vh;
    margin-top: 10vh;
    color: var(--light-blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.mainDetails{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.mainName{
    font-style: oblique;
    opacity: .75;
    font-family: var(--texts-font);
    font-size: clamp(1em, 1.25vw, 2.5em);
}

.mainRol{
    margin: 1rem 0;
    font-family: var(--titles-font);
    font-size: clamp(1em, 2.5vw, 2.5em);
    text-wrap: wrap;
    text-align: start;
    color: orange;
}

.mainParagraph{
    text-align: justify;
    width: 90%;
    font-size: clamp(1em, 1.15vw, 2.5em);
    word-spacing: .1rem;
    font-family: var(--texts-font);
}

.mainIcons{
    margin-top: 3rem;
    word-spacing: 1rem;
}

.mainLink{
    text-decoration: none;
    transition: opacity .3s ease;
}

.mainLink:hover{
    opacity: .5;
}

.mainButtons{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 3rem;
    padding: 0 3rem 0 0;
    user-select: none;
}

.mainCv, .mainContact{
    padding: .5rem 1rem;
    color: var(--black-color);
    font-family: var(--texts-font);
    font-size: clamp(.9em, .75vw, 2.5em);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .3s ease;
    background-color: orange;;
    background-color: rgb(133, 250, 223);
    word-spacing: .2rem;
    text-decoration: none;
}

.mainCv:hover, .mainContact:hover{
    background-color: orange;
}

.mainIconImg{
    width: 30px;
    height: auto;
}

.mainImgProfile{
    width: 20%;
    overflow: hidden;
    height: 60vh;
    border-top-right-radius: 50%;
    border-top-left-radius: 2.5%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 2.5%;
}

.mainImg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Projects */
.projects{
    border-bottom: 1px solid var(--light-blue-color);
    padding: 1rem 0 2rem;
    text-align: center;
}

.projectsClick{
    padding: 10vh 0 2rem;
}

.projectsTitle{
    margin: 1rem 0 2rem;
    color: var(--light-blue-color);
    font-family: var(--titles-font);
    font-size: clamp(1em, 2.5vw, 2.5em);
    display: inline-block;
    text-decoration: underline;
}

.projectsTitle:hover{
    color: orange;
    cursor: pointer;
    user-select: none;
}

.projectsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    width: 70%;
    margin: 0 auto;
}

.projectsCard{
    border: 1px solid cornsilk;
    border-radius: .5rem;
    border-width: .125rem;
    height: max-content;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    animation: showImg linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%
}

.cardTitle{
    margin-bottom: 1rem;
    color: var(--light-blue-color);
    font-size: clamp(1em, 1vw, 2.5em);
    font-family: var(--texts-font);
    font-weight: bold;
    text-decoration: none;
}

.cardImg{
    height: 150px;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease;
}

.cardImg:hover, .cardOpen:hover{
    scale: .95;
    cursor: pointer;
    opacity: .75;
}

.cardSkills{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: .75rem 0;
    gap: 2.5rem;
    color: orange;
}

.cardSkill:hover, .cardTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.cardDetails{
    text-align: left;
    word-spacing: .25rem;
    margin-bottom: 1rem;
    font-size: clamp(1em, 1vw, 1.5em);
    font-family: var(--texts-font);
    color: whitesmoke;
}

.cardOpen{
    align-self: flex-end;
    width: 2rem;
}

.cardOpenImg{
    height: 100%;
    width: 100%;
}

/* About Me */
.aboutMe{
    height: 60vh;
    border-bottom: 1px solid var(--light-blue-color);
}

/* Contact */
.contact{
    height: 40vh;
    border-bottom: 1px solid var(--light-blue-color);
}

/* Footer */
.footer{
    height: 80vh;
    border-bottom: 1px solid var(--light-blue-color);
}

/* KeyFrames */

@keyframes scrollHeader {
    to {
        background-color: rgba(4, 156, 179, 0.75);
        backdrop-filter: blur(5px);
        border: none;
    }
}

@keyframes scrollColor {
    to {
        color: #000;
        border-color: #000;
    }
}

@keyframes showImg {
    from {
        opacity: 0;
        translate: 0 50px;
        scale: .75;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}
