@media (max-width: 1024px) {

    /* Header */
    .header {
        height: 10vh;
        padding: 0 2%;
    }

    .headerTitleLink {
        font-size: clamp(1rem, 1.5rem, 2rem);
    }

    .headerList {
        gap: 2rem;
    }

    .headerLink {
        font-size: clamp(.5rem, .80rem, 2rem);
    }

    .headerItem {
        word-spacing: 0;
    }

    .headerItem::before {
        border-bottom: 1px solid var(--light-blue-color);
    }

    .headerButtons {
        height: 1.75rem;
        width: 1.75rem;
    }

    /* Main */
    .main {
        gap: 5%;
        width: 90%;
    }

    .mainDetails {
        width: 70%;
    }

    .mainImgProfile {
        width: 25%;
    }

    /* Projects */
    .projectsGrid {
        column-gap: 1rem;
        width: 90%;
    }

    .projectsCard {
        flex-direction: column;
        gap: 0rem;
        height: auto;
        width: 100%;
    }

    .cardImg {
        width: 100%;
        height: 200px;
    }

    .cardDetails {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .cardTitle {
        font-size: 1.25rem;
        text-align: center;
        padding-bottom: .5rem;
    }

    .cardSkills{
        padding: 1rem 0 .5rem;
    }

    .cardSkill {
        width: 30px;
        height: 30px;
    }

    .cardButtons {
        justify-content: end;
    }

    .cardButton {
        padding: .35rem .75rem;
    }

    /* About Me */
    .aboutMeContainer{
        padding: 0;
        gap: 1rem;
    }
    
    .aboutMeImage{
        width: 40%;
        height: 70vh;
    }
    
    .aboutMeParagraph{
        width: 60%;
    }
    
    .aboutMeSubtitle{
        font-size: 1.25rem;
    }
    
    .aboutMeText, .aboutMeTexts{
        font-size: .9rem;
    }
    
    .aboutMeCvContainer {
        padding: .5rem 1rem;
        font-size: clamp(.5rem, .9rem, 2.5em);
    }
    
    .aboutMeDetails{
        display: none;
    }
}