/* Main */
.main{
    height: 90vh;
    margin-top: 10vh;
    color: var(--light-blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    position: relative;
}

.mainDetails{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.mainName{
    font-style: oblique;
    opacity: .75;
    font-family: var(--texts-font);
    font-size: clamp(1em, 1.25vw, 2.5em);
    transition: opacity .3s ease-in;
}

.mainName:hover{
    opacity: 1;
    cursor: pointer;
}

.mainRol{
    margin: 1rem 0;
    font-family: var(--titles-font);
    font-size: clamp(1em, 2.5vw, 2.5em);
    text-wrap: wrap;
    text-align: start;
    color: var(--orange-color);
    transition: opacity .3s ease-in;
}

.mainRol:hover{
    opacity: .75;
    cursor: pointer;
}

.mainParagraph{
    text-align: justify;
    width: 90%;
    font-size: clamp(1em, 1.25vw, 2.5em);
    word-spacing: .15rem;
    font-family: var(--texts-font);
    line-height: 1.75rem;
}

.mainIcons{
    margin-top: 3rem;
    word-spacing: 1rem;
}

.mainLink{
    text-decoration: none;
    transition: opacity .3s ease;
}

.mainLink:hover{
    opacity: .5;
}

.mainButtons{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 3rem;
    padding: 0 3rem 0 0;
    user-select: none;
}

.mainCv, .mainContact{
    padding: .5rem 1rem;
    color: var(--black-color);
    font-family: var(--texts-font);
    font-size: clamp(.9em, .75vw, 2.5em);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .3s ease;
    background-color: var(--orange-color);
    background-color: var(--lightBlueHard-color);
    word-spacing: .2rem;
    text-decoration: none;
}

.mainCv:hover, .mainContact:hover{
    background-color: var(--orange-color);
}

.mainIconImg{
    width: 30px;
    height: auto;
}

.mainImgProfile{
    width: 20%;
    overflow: hidden;
    height: 60vh;
    border-top-right-radius: 50%;
    border-top-left-radius: 2.5%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 2.5%;
    transition: all .25s ease-in;
}

.mainImgProfile:hover{
    cursor: pointer;
    transform: scale(1.025) rotate(1deg);
}

.mainImg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainSeparator{
    border: 0; 
    height: 2px;
    background-image: linear-gradient(to right, #000, #59E7FC, #000);
    width: 100%;
    position: absolute;
    bottom: 0;
}